@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@media print {
  body * {
    visibility: hidden;
  }
  #report-container,
  #report-container * {
    visibility: visible;
  }
  #report-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .report-page {
    page-break-after: always;
    page-break-inside: avoid;
    margin: 0;
    box-shadow: none;
  }
  .no-print {
    display: none !important;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}
